<div>
  <h2 id="page-heading" data-cy="LogAcessoHeading">
    <span>Log de Acessos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (logAcessos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="portariaRfidApp.logAcesso.home.notFound">No Log Acessos found</span>
    </div>
  }

  @if (logAcessos && logAcessos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigoRfid">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAcesso">
              <div class="d-flex">
                <span jhiTranslate="portariaRfidApp.logAcesso.dataAcesso">Data Acesso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (logAcesso of logAcessos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/log-acesso', logAcesso.id, 'view']">{{ logAcesso.id }}</a>
              </td>
              <td>{{ logAcesso.email }}</td>
              <td>{{ logAcesso.dataAcesso | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/log-acesso', logAcesso.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
