@if (usuariosRegistrados) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(usuariosRegistrados.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="usuariosRegistradosDeleteDialogHeading">Confirme a exclusão</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-usuariosRegistrados-heading"
        jhiTranslate="portariaRfidApp.usuariosRegistrados.delete.question"
        [translateValues]="{ id: usuariosRegistrados.id }"
      >
        Tem certeza que deseja deletar {{ usuariosRegistrados.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-usuariosRegistrados" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Deletar</span>
      </button>
    </div>
  </form>
}
