<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-log-acesso-heading"
        data-cy="LogAcessoCreateUpdateHeading"
        jhiTranslate="portariaRfidApp.logAcesso.home.createOrEditLabel"
      >
        Create or edit a Log Acesso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="portariaRfidApp.logAcesso.codigoRfid" for="field_codigoRfid">Codigo Rfid</label>
          <input
            type="text"
            class="form-control"
            name="codigoRfid"
            id="field_codigoRfid"
            data-cy="codigoRfid"
            formControlName="codigoRfid"
          />
          @if (editForm.get('codigoRfid')!.invalid && (editForm.get('codigoRfid')!.dirty || editForm.get('codigoRfid')!.touched)) {
            <div>
              @if (editForm.get('codigoRfid')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="portariaRfidApp.logAcesso.dataAcesso" for="field_dataAcesso">Data Acesso</label>
          <div class="input-group">
            <input
              id="field_dataAcesso"
              data-cy="dataAcesso"
              type="text"
              class="form-control"
              name="dataAcesso"
              ngbDatepicker
              #dataAcessoDp="ngbDatepicker"
              formControlName="dataAcesso"
            />
            <button type="button" class="btn btn-secondary" (click)="dataAcessoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('dataAcesso')!.invalid && (editForm.get('dataAcesso')!.dirty || editForm.get('dataAcesso')!.touched)) {
            <div>
              @if (editForm.get('dataAcesso')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
