<div>
  <h2 id="page-heading" data-cy="CadastroUsuariosHeading">
    <span>Cadastro de Usuários</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Recarregar lista</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cadastro-usuarios"
        [routerLink]="['/cadastro-usuarios/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="portariaRfidApp.cadastroUsuarios.home.createLabel">Adicionar Novo Cadastro Usuarios</span>
      </button> -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (cadastroUsuarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="portariaRfidApp.cadastroUsuarios.home.notFound">Nenhum Cadastro encontrado</span>
    </div>
  }

  @if (cadastroUsuarios && cadastroUsuarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigoRfid">
              <div class="d-flex">
                <span jhiTranslate="portariaRfidApp.cadastroUsuarios.codigoRfid">Código Rfid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataInclusao">
              <div class="d-flex">
                <span jhiTranslate="portariaRfidApp.cadastroUsuarios.dataInclusao">Data Inclusão</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cadastroUsuarios of cadastroUsuarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cadastro-usuarios', cadastroUsuarios.id, 'view']">{{ cadastroUsuarios.id }}</a>
              </td>
              <td>{{ cadastroUsuarios.codigoRfid }}</td>
              <td>{{ cadastroUsuarios.dataInclusao | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/cadastro-usuarios', cadastroUsuarios.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/cadastro-usuarios', cadastroUsuarios.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityCreateButton"
                  >
                    <fa-icon icon="plus"></fa-icon>
                    <span class="d-none d-md-inline">Adicionar Tag ao sistema</span>
                  </a>

                  <button type="submit" (click)="delete(cadastroUsuarios)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Deletar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
