<div>
  <h2 id="page-heading" data-cy="UsuariosRegistradosHeading">
    <span jhiTranslate="portariaRfidApp.usuariosRegistrados.home.title">Usuários Registrados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (usuariosRegistrados?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="portariaRfidApp.usuariosRegistrados.home.notFound">No Usuarios Registrados found</span>
    </div>
  }

  @if (usuariosRegistrados && usuariosRegistrados.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="portariaRfidApp.usuariosRegistrados.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigoRfid">
              <div class="d-flex">
                <span jhiTranslate="portariaRfidApp.usuariosRegistrados.codigoRfid">Código Rfid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (usuariosRegistrados of usuariosRegistrados; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usuarios-registrados', usuariosRegistrados.id, 'view']">{{ usuariosRegistrados.id }}</a>
              </td>
              <td>{{ usuariosRegistrados.email }}</td>
              <td>{{ usuariosRegistrados.codigoRfid }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/usuarios-registrados', usuariosRegistrados.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/usuarios-registrados', usuariosRegistrados.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar Email</span>
                  </a>

                  <button type="submit" (click)="delete(usuariosRegistrados)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Deletar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
