<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuariosRegistrados) {
      <div>
        <h2 data-cy="usuariosRegistradosDetailsHeading">
          <span jhiTranslate="portariaRfidApp.usuariosRegistrados.detail.title">Usuários Registrados</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ usuariosRegistrados.id }}</span>
          </dd>
          <dt><span jhiTranslate="portariaRfidApp.usuariosRegistrados.email">Email</span></dt>
          <dd>
            <span>{{ usuariosRegistrados.email }}</span>
          </dd>
          <dt><span jhiTranslate="portariaRfidApp.usuariosRegistrados.codigoRfid">Codigo Rfid</span></dt>
          <dd>
            <span>{{ usuariosRegistrados.codigoRfid }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/usuarios-registrados', usuariosRegistrados.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
