<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Bem-vindo </span> - Portaria - Administração Tags Rfid</h1>

    <p class="lead" jhiTranslate="home.subtitle">Tela inicial</p>

    <div>
      @if (account !== null) {
        <div class="alert alert-success">
          @if (account) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
              >Você está logado &quot;{{ account.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">Não tem uma conta?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Registrar</a>
        </div>
      }
    </div>
  </div>
</div>
