<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cadastroUsuarios) {
      <div>
        <h2 data-cy="cadastroUsuariosDetailsHeading">
          <span jhiTranslate="portariaRfidApp.cadastroUsuarios.detail.title">Cadastro Usuarios</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cadastroUsuarios.id }}</span>
          </dd>
          <dt><span jhiTranslate="portariaRfidApp.cadastroUsuarios.codigoRfid">Codigo Rfid</span></dt>
          <dd>
            <span>{{ cadastroUsuarios.codigoRfid }}</span>
          </dd>
          <dt><span jhiTranslate="portariaRfidApp.cadastroUsuarios.dataInclusao">Data Inclusao</span></dt>
          <dd>
            <span>{{ cadastroUsuarios.dataInclusao | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/cadastro-usuarios', cadastroUsuarios.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
